/BinarySearch/.vs
/BinarySearch/BinarySearch/obj
/BinarySearch/BinarySearch/bin
/FastSort/FastSort/obj
/FastSort/FastSort/bin
/FastSort/.vs
/InsertSort/.vs
/InsertSort/InsertSort/obj
/InsertSort/InsertSort/bin
